

		p{
		color: #C0392B;;
		font-family: Helvetica; 
		font-weight: bold; 
		font-size: 40px; 
		text-transform: lowercase; 
		text-align: left;	
		text-decoration: underline;
		letter-spacing:2px;}
		
		h1{
			font-size: 1em;
			color:white;}
		}
		.spacing{padding:6px 10px;}

		.box {
		  background: #C0392B;
		  width: 100px;
		  height: 900px;
		  margin: 100px;
		  color: white;
		}
		.box1{
			 background: #C0392B;
		  width: 90px;
		  height: 10px;
		  margin: 105px;

		}
		#one {
		  position: fixed;
		  top: 80px;
		  left: 10px;
		  text-transform: uppercase;
		  text-decoration: line-through;
		}

		.outer {
		  width: 950px;
		  margin: 200px;
		  height: 950px;
		  padding-left: 150px;
		}