* {
	box-sizing: border-box;
}

    body {
      font-family: Helvetica;
      color: #7DCEA0;
      line-height: 1.5em;
      background-color: white ;  
      font-size: 20px
    }
    .main {
      width: 50%;
      margin: 100px auto;
      padding: 50px;
      /* border:1px solid #CCC; */
    }

    h1 {
      font-family: Helvetica;
      margin-top: 0;
      font-size: 20px;
    }


    ul {
      padding-left: 18px;
      list-style: none;
      font-size: 20px;
    }
 
    ul li {
      color: #7DCEA0;
      font-size: 20px;
    }

	a:link{
		color: #7DCEA0;
		text-decoration: none;
	}

	a:hover{
		background-color: #7DCEA0;
	}


