* {
	box-sizing: border-box;
}

body{

	background-color:white;
	font-family: verdana;
}

h1{
	width: 15%;
	text-align: left;
	font-size: 60px;
	color: #148F77;
}

p{
	width: 90%;
	margin: 50px;
	font-size: 70px;
	line-height: 5.5em;
	color:#85929E;
	font-style: oblique;
}


.main{	
	width: 80%;
	margin: 100px auto;	
}


.right{
	text-align: right;
	padding: 40px;
}



#line-through{
	text-decoration: line-through;
	font-size: 0.7em;
}