* {
	box-sizing: border-box;
}

body{

	background-color:white;
	font-family: serif;
	font-weight: bold; 
	font-size: 24px; 
}
h1{
	font-family: Helvetica; 
	text-align: right;
	font-size: 16px;
	text-transform: uppercase;
	color:black;
	padding: 40px;
}

		.main{	
		width: 80%;
		margin: 200px auto;	
	}

		.info{
		color: black;
		text-transform: lowercase; 
		text-decoration: underline;
		letter-spacing:-5px;
		text-decoration: line-through;
	}
		
		#overline{
		text-decoration: overline;
		font-size: 0.5em;}


		.right{
		text-align: right;
		padding: 40px;
	}

