* {
	box-sizing: border-box;
}

body{

	background-color:#232323  ;
	font-family: serif;
	margin-left:200px;
}

h1{
	font-size: 1em;
	color: white;
}

p{
	width: 50%;
	margin: 50px;
	font-size: 0.7em;
	color: white;
}

.main{	
	width: 100%;
	height: 300px;
	margin: 500px auto;	
	overflow: auto;
	z-index: -1;
}

.center{
	text-align: center;
	padding: 40px;
}

#underline{
	text-decoration: underline;
	font-size: 0.5em;
	font-weight: 100;
}

#overline{
	text-decoration: overline;
	font-size: 0.5em;
}

#line-through{
	text-decoration: line-through;
	font-size: 0.3em;
}

